extends ../layout/layout.pug

block content
  .container-fluid
    .row
      .col-sm-8.offset-sm-2
        form(action="/favorites" method="post")
          div.text-center
            h3 Add this link to your wall?
          div.row.form-group
            label.col-form-label.col-sm-2(for="title") Title
            input.form-control.col-sm-10(type="text" name="title" value=favorite.title)
          div.row.form-group
            label.col-form-label.col-sm-2(for="link") Link
            input.form-control.col-sm-10(type="text" name="link" value=favorite.link)
          div.text-center
            button.btn.btn-primary(type="submit") Create Link